body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #eee;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
